<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Add note</title>
<link rel="stylesheet" type="text/css"
	href="../../webjars/bootstrap/5.2.3/css/bootstrap.min.css" />

</head>

<body>

	<h1>New note :</h1>

 <div>
		<form method="post" role="form" th:action="@{/note/validate}"
			th:object="${note}">

			<p th:if="${error}" th:text="${error}"></p>

			<div class="ligne">
				<label class="formulaire">Content</label> 
				<textarea rows="10"
					class="form-control" id="content" name="content"
					placeholder="Enter content" th:field="*{content}"></textarea>
				<!-- <input
					class="form-control" id="content" name="content"
					placeholder="Enter content" th:field="*{content}" type="text" /> -->
			</div>

			<div>
				<button type="submit">Add</button>

			</div>

		</form>
	</div>

</body>
</html>
