<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Add patient</title>
<link rel="stylesheet" type="text/css"
	href="../../webjars/bootstrap/5.2.3/css/bootstrap.min.css" />

</head>

<body>

	<h1>New patient :</h1>

	<div>

		<form method="post" role="form" th:action="@{/patient/validate}"
			th:object="${patient}">

			<p th:if="${error}" th:text="${error}"></p>

			<div class="ligne">
				<label class="formulaire">First name</label> <input
					class="form-control" id="firstName" name="firstName"
					placeholder="Enter first name" th:field="*{firstName}" type="text" />

				<p th:errors="*{firstName}"
					th:if="${#fields.hasErrors('firstName')}"></p>

			</div>

			<div class="ligne">
				<label class="formulaire">Last name</label> <input
					class="form-control" id="lastName" name="lastName"
					placeholder="Enter last name" type="text" th:field="*{lastName}" />
				<p th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></p>
			</div>

			<div class="ligne">
				<label class="formulaire">Date of birth</label> <input
					class="form-control" id="dateOfBirth" name="dateOfBirth"
					placeholder="Enter date of birth" type="date"
					th:field="*{dateOfBirth}" />
				<p th:errors="*{dateOfBirth}"
					th:if="${#fields.hasErrors('dateOfBirth')}"></p>
			</div>

			<div class="ligne">
				<label class="formulaire">Gender</label> <select
					th:field="*{gender}">
					<option value="M">M</option>
					<option value="F">F</option>
				</select>

				<p th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}"></p>
			</div>

			<div class="ligne">
				<label class="formulaire">Address</label> <input
					class="form-control" id="address" name="address"
					placeholder="Enter address" type="text" th:field="*{address}" />
			</div>

			<div class="ligne">
				<label class="formulaire">Phone number</label> <input
					class="form-control" id="phoneNumber" name="phoneNumber"
					placeholder="Enter phoneNumber" type="text"
					th:field="*{phoneNumber}" />
				<p th:errors="*{phoneNumber}"
					th:if="${#fields.hasErrors('phoneNumber')}"></p>
			</div>

			<div>
				<button type="submit" class="btn btn-primary btn-sm">Add</button>
			</div>

		</form>
	</div>

</body>
</html>