<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Update note</title>
<link rel="stylesheet" type="text/css"
	href="../../webjars/bootstrap/5.2.3/css/bootstrap.min.css" />

</head>

<body class="container-sm text-center">

	<header class="container-xl text-center">
		<img th:src="@{../../images/medilaboBannerWithoutText.jpg}" />
	</header>

	<div class="mx-4 p-4">
		<h1>Update note</h1>
	</div>

	<div class="mx-4 p-4" th:object="${patient}">

		<form method="post" role="form"
			th:action="@{/note/validateUpdate/{id}(id=${note.id})}"
			th:object="${note}">

			<div hidden=true>
				<label class="formulaire">Patient id</label> <input
					class="form-control" id="patientId" name="patientId"
					th:field="${note.patientId}" type="text" />
			</div>


			<p th:if="${error}" th:text="${error}"></p>

			<div class="mx-2 p-2">
				<label class="formulaire fs-5">Content</label>
				<textarea rows="10" class="form-control" id="content" name="content"
					placeholder="Enter content" th:field="*{content}"></textarea>
			</div>

			<div>
				<button type="submit" class="btn btn-outline-info btn-lg">Update</button>

			</div>

		</form>
	</div>

</body>
</html>